/****************************************************
Page crossover
****************************************************/
html, body, div {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  overflow-x: hidden; }

/****************************************************
Text
****************************************************/
.background {
  position: relative;
  width: 100vw;
  margin: -50px 0 0;
  height: auto;
  background: #1b1464;
  z-index: -1; }
  .background p {
    position: relative;
    font-kerning: normal;
    font-size: 2.5rem;
    line-height: 1.6;
    padding: 50px 200px 0;
    color: #ffffff;
    font-family: 'Panton-SemiBold';
    src: url("webfonts/369051_E_0.eot");
    src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); }

h1 {
  width: 5px;
  font-size: 5rem;
  margin: 100px 0 0px;
  -webkit-transform: translate3d(20vw, 0, 0);
  transform: translate3d(20vw, 0, 0);
  color: #1b1464;
  font-family: 'Panton-ExtraBold';
  src: url("webfonts/369051_4_0.eot");
  src: url("webfonts/369051_4_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_4_0.woff2") format("woff2"), url("webfonts/369051_4_0.woff") format("woff"), url("webfonts/369051_4_0.ttf") format("truetype"); }

h2 {
  width: 400px;
  font-size: 2rem;
  margin: 0;
  color: #1b1464;
  -webkit-transform: translate3d(35vw, 0, 0);
  transform: translate3d(35vw, 0, 0);
  font-family: 'Panton-SemiBold';
  src: url("webfonts/369051_E_0.eot");
  src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); }

@media only screen and (max-width: 600px) {
  .background p {
    position: relative;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.7;
    padding: 50px 75px 0;
    color: #ffffff;
    font-family: 'Panton-SemiBold';
    src: url("webfonts/369051_E_0.eot");
    src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); }

  h1 {
    width: 5px;
    font-size: 2.5rem;
    margin: 50px 0 0px;
    -webkit-transform: translate3d(20vw, 0, 0);
    transform: translate3d(20vw, 0, 0);
    color: #1b1464;
    font-family: 'Panton-ExtraBold';
    src: url("webfonts/369051_4_0.eot");
    src: url("webfonts/369051_4_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_4_0.woff2") format("woff2"), url("webfonts/369051_4_0.woff") format("woff"), url("webfonts/369051_4_0.ttf") format("truetype"); }

  h2 {
    width: 400px;
    font-size: 1.5rem;
    margin: 0;
    color: #1b1464;
    -webkit-transform: translate3d(35vw, 0, 0);
    transform: translate3d(35vw, 0, 0);
    font-family: 'Panton-SemiBold';
    src: url("webfonts/369051_E_0.eot");
    src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); } }
/***************************************************
Navigation
****************************************************/
.sandwichIcon {
  top: 120px;
  right: 0;
  position: fixed;
  width: 0;
  height: 60px;
  margin: 0;
  z-index: 2; }

.barOne {
  width: 100%;
  height: 12px;
  margin: 0;
  background-color: #1b1464; }

.barTwo {
  width: 100%;
  height: 12px;
  margin: 12px 0;
  background-color: #1b1464; }

.barThree {
  width: 100%;
  height: 12px;
  margin: 0;
  background-color: #1b1464; }

.menuBar {
  width: 0vw;
  height: 50px;
  margin: 0;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 2; }

@media only screen and (max-width: 600px) {
  .menuBar {
    width: 100vw; }

  .sandwichIcon {
    width: 100px; } }
.links {
  list-style-type: none;
  margin: 100px 200px;
  padding: 0;
  float: right;
  position: relative;
  width: 100vw;
  z-index: 3; }

.linkOne, .linkTwo, .linkThree {
  float: left;
  margin: 0 50px;
  font-size: 2rem;
  font-family: 'Panton-SemiBold';
  src: url("webfonts/369051_E_0.eot");
  src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); }

@media only screen and (max-width: 600px) {
  .links {
    list-style-type: none;
    margin: -207px auto 0;
    text-align: center;
    padding: 0;
    float: none;
    position: fixed;
    top: 50%;
    z-index: 3;
    display: none; }

  .linkOne, .linkTwo, .linkThree {
    padding: 50px;
    margin: 0;
    font-size: 2rem;
    float: none;
    font-family: 'Panton-SemiBold';
    src: url("webfonts/369051_E_0.eot");
    src: url("webfonts/369051_E_0.eot?#iefix") format("embedded-opentype"), url("webfonts/369051_E_0.woff2") format("woff2"), url("webfonts/369051_E_0.woff") format("woff"), url("webfonts/369051_E_0.ttf") format("truetype"); } }
.returnToTop {
  width: 100px;
  height: auto;
  margin: 0;
  position: fixed;
  right: 50px;
  bottom: 50px; }

.menuTransition {
  -webkit-transform: translate3d(0, 80vh, 0);
  transform: translate3d(0, 80vh, 0); }

.closeTransition {
  height: 100vh; }

.navigationClose {
  width: 80px;
  height: 80px;
  position: fixed;
  margin: 0;
  right: 0;
  top: -80vh;
  background: #ffffff;
  z-index: 3; }

.lineL {
  width: 5px;
  height: 75px;
  position: fixed;
  background: #000000;
  margin: 1px 40px;
  transform: rotate3d(0, 0, 1, 45deg); }

.lineR {
  width: 5px;
  height: 75px;
  position: fixed;
  background: #000000;
  margin: 1px 40px;
  transform: rotate3d(0, 0, 1, 315deg); }

/****************************************************
Graphic Imagery
****************************************************/
.SVGImage {
  margin: 0;
  height: auto;
  width: 100vw; }

/*# sourceMappingURL=SmartHR.css.map */
