/****************************************************
Page crossover
****************************************************/

html, body, div {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 16px;
}

#wrapper {
  overflow: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0; 
  height: auto;
}

$darkBlue: #1b1464 !global;

/****************************************************
Text
****************************************************/

.introp {
    position: relative;
    text-align: left;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 200px 0;
    min-width: 300px;
    color: #1b1464;
    font-family: 'Cairo', sans-serif;
}

.linkFour {
	text-decoration: underline;
	color: #ffffff;
}

.introh {
	position: relative;
    font-kerning: normal;
    font-size: 4rem;
    text-align: left;
    color: #1b1464;
    margin: 50px 200px 0;
    height: 150px;
    min-width: 300px;
    font-family: 'Cairo', sans-serif;
}

.introWrapper {
	margin: 200px 0;
	position: fixed;
}

.background {
	position: relative;
	width: 100vw;
	margin: -50px 0 0;
	padding: 0 0 50px 0;
	height: auto;
	background: $darkBlue;
	z-index: 1;
		.aboutp {
			position: relative;
			text-align: left;
			font-kerning: normal;
			font-size: 1rem;
			line-height: 1.8;
			padding: 50px 200px 150px;
			min-width: 300px;
			color: #ffffff;
			font-family: 'Cairo', sans-serif;
			src: url('webfonts/369051_E_0.eot');
		}
		.abouth {
			position: relative;
			font-kerning: normal;
			text-align: left;
			font-size: 4rem;
			height: auto;
			line-height: 1.2;
			margin: 0;
			color: #ffffff;
			padding: 50px 200px 0;
			min-width: 300px;
			font-family: 'Cairo', sans-serif;
		}
		.WWDScroll {
			margin-top: 0;
		}
}

.midSVG {
	margin: -200px 0;
    position: absolute;
    width: 75vw;
    height: auto;
    z-index: -1;
}

@media only screen and (max-width: 1750px) {

.midSVG {
	margin: -100px 0;
    position: absolute;
    width: 75vw;
    height: auto;
    z-index: -1;
}

}

.bottomSVG {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.WWD {
	margin: 150px 200px;
    height: 700px;
    width: auto;
	.wwdp {
		position: relative;
	    font-kerning: normal;
	    font-size: 1rem;
	    line-height: 1.7;
	    color: #ffffff;
	    padding: 0 50px;
	    font-family: 'Cairo', sans-serif;
	}
	.wwdh {
		font-size: 3rem;
	    position: relative;
	    color: #ffffff;
	    text-align: left;
	    line-height: 1.2;
	    padding: 50px 50px 0;
	    font-family: 'Cairo', sans-serif;
	}
	.wwdul {
		font-size: 1rem;
	    position: relative;
	    line-height: 1.8;
	    margin: 0;
	    color: #ffffff;
	    padding: 0;
	    font-family: 'Cairo', sans-serif;
	}
	img {
		margin: 0 50px 100px 0;
	    float: left;
	    height: 600px;
	    width: auto;
	}
	.marginBottomTwo {
		margin-bottom: 250px;
	}
}

.contactWrapper {
	margin: -65px 0;
	background: #ffffff;
	height: 650px;
	width: 100vw;
		.contactp {
				position: relative;
				font-kerning: normal;
				font-size: 2rem;
				line-height: 1.6;
				min-width: 300px;
				padding: 0 200px 50px;
				color: $darkBlue;
				font-family: 'Cairo', sans-serif;
			}

		.contacth {
			position: relative;
		    font-kerning: normal;
		    font-size: 4rem;
		    text-align: left;
		    color: #1b1464;
		    padding: 50px 200px 0;
		    min-width: 300px;
		    font-family: 'Cairo', sans-serif;
		}
}

.pageTitle {
    width: 450px;
    height: auto;
    position: fixed;
    margin: 100px 200px 0;
    z-index: -1;
}

h1 {
    font-size: 2.5rem;
    font-kerning: normal;
    color: #1b1464;
    margin: 0;
	font-family: 'Cairo', sans-serif;
	font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-kerning: normal;
    margin: -30px 70px;
    color: #1b1464;
    position: absolute;
	font-family: 'Cairo', sans-serif;
}

/***************************************************
Navigation
****************************************************/

.sandwichIcon {
	top: 120px;
	right: 0;
	position: fixed;
	width: 0;
	height: 60px;
	margin: 0;
	z-index: 2;
	background: #ffffff;
}

.barOne {
	width: 100%;
	height: 12px;
	margin: 0;
	background-color: $darkBlue;
}

.barTwo {
	width: 100%;
	height: 12px;
	margin: 12px 0;
	background-color: $darkBlue;
}

.barThree {
	width: 100%;
	height: 12px;
	margin: 0;
	background-color: $darkBlue;
}

.menuBar {
	width: 0;
	height: 0;
	margin: 0;
	background: #ffffff;
	position: fixed;
	top: 0;
	z-index: 3;
}

.links {
    list-style-type: none;
	color: $darkBlue;
    margin: 100px 0;
    right: 200px;
    padding: 0;
    float: right;
    position: fixed;
	z-index: 0;
	display: block;
		a {
			color: $darkBlue;
			text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
				&:visited {
					color: $darkBlue;
				}
		}
}

.linkOne, .linkTwo, .linkThree {
	float: left;
	margin: 0 50px;
	font-size: 2rem;
	font-kerning: normal;
	font-family: 'Cairo', sans-serif;
}

@media only screen and (max-width: 1400px) {
.links {
    margin: 110px 0;
    right: 100px;
}
	.linksRemove {
		display: block;
	}

}

@media only screen and (max-width: 1100px) {
	.linkOne, .linkTwo, .linkThree {
		margin: 0 30px;
		font-size: 1.5rem;
	}
}

.returnToTop {
	width: 100px;
	height: auto;
	margin: 0;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	&:hover {
		opacity: .7;
	}
}

.menuTransition {
	-webkit-transform: translate3d(0, 80vh, 0);
	transform: translate3d(0, 80vh, 0);
}

.closeTransition {
	height: 100vh;
}

.navigationClose {
	width: 80px;
	height: 80px;
	position: fixed;
	margin: 0;
	right: 0;
	top: -80vh;
	background: #ffffff;
	z-index: 3;
}

.lineL {
	width: 5px;
	height: 75px;
	position: fixed;
	background: #000000;
	margin: 1px 40px;
	transform: rotate3d(0, 0, 1, 45deg);
}

.lineR {
	width: 5px;
	height: 75px;
	position: fixed;
	background: #000000;
	margin: 1px 40px;
	transform: rotate3d(0, 0, 1, 315deg);
}

/****************************************************
Graphic Imagery
****************************************************/

.SVGImage {
	margin: 120px 0 0;
	z-index: 1;
	position: relative;
	height: auto;
	width: 100vw;
	pointer-events: none;

	img {
		pointer-events: none;
	}
}

@media only screen and (max-width: 1400px) {
.SVGImage {
	margin: 180px 0 0;
}

.returnToTop {
	width: 50px;
}

.introp {
    position: relative;
    text-align: left;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 100px 0;
    min-width: 300px;
    color: #1b1464;
    font-family: 'Cairo', sans-serif;
}

.linkFour {
	text-decoration: underline;
	color: #ffffff;
}

.introh {
	position: relative;
    font-kerning: normal;
    font-size: 4rem;
    text-align: left;
    line-height: 1.2;
    color: #1b1464;
    margin: 50px 100px 0;
    height: 200px;
    min-width: 300px;
    font-family: 'Cairo', sans-serif;
}

.introWrapper {
	margin: 200px 0;
	position: fixed;
}

.WWD {
	margin: 0 auto 150px;
    height: auto;
	.wwdp {
		position: relative;
	    font-kerning: normal;
	    font-size: 1rem;
	    line-height: 1.7;
	    color: #ffffff;
	    padding: 0 100px 0;
	    font-family: 'Cairo', sans-serif;
	}
	.wwdh {
		font-size: 2rem;
	    position: relative;
	    color: #ffffff;
	    padding: 50px 100px 0;
	}
	.wwdul {
		font-size: 1rem;
	    position: relative;
	    line-height: 1.8;
	    margin: 0;
	    color: #ffffff;
	    padding: 50px 100px;
	    font-family: 'Cairo', sans-serif;
	}
	img {
		margin: 0 100px;
	    height: auto;
	    width: 30vw;
	    float: left;
	}
	.marginBottom {
		margin-bottom: 0px;
	}
	.marginBottomTwo {
		margin-bottom: 200px;
	}
}

	.background {
		position: relative;
		width: 100vw;
		margin: -50 0 0;
		padding: 0 0 50px 0;
		height: auto;
		background: $darkBlue;
		z-index: 1;
		.aboutp {
			font-size: 1rem;
			padding: 50px 100px 150px;
		}
		.abouth {
			font-size: 4rem;
			padding: 50px 100px 0;
			line-height: 1.2;
		}
		.aboutScroll {
			height: 200px;
		}
		}

.midSVG {
    width: 75vw;
    margin: -100px 0;
}

.contactWrapper {
	overflow-x: hidden;
		.contactp {
				font-size: 1.5rem;
				padding: 0 100px 50px;
			}

		.contacth {
		    font-size: 4rem;
		    padding: 50px 100px 0;
		}
}

.pageTitle {
	width: 450px;
    height: auto;
    position: fixed;
    margin: 100px 100px 0;
    z-index: -1;
}

	h1 {
 	    font-size: 2.5rem;
	    margin: 0;
	    color: #1b1464;
		font-family: 'Cairo', sans-serif;
     	font-weight: 900;
	}

	h2 {
	    font-size: 1.5rem;
	    margin: -30px 70px;
	    color: #1b1464;
		font-family: 'Cairo', sans-serif;
	}
}

@media only screen and (max-width: 1250px) {

.WWD {
	margin: 0 auto 150px;
    height: auto;

	img {
		margin: 0 100px;
	    height: auto;
	    width: 30vw;
	    float: left;
	}
	.marginBottom {
		margin-bottom: 75px;
	}
	.marginBottomTwo {
		margin-bottom: 320px;
	}
}

}

@media only screen and (max-width: 1000px) {

.WWD {
	margin: 0 auto 150px;
    height: auto;

	img {
		margin: 0 100px;
	    height: auto;
	    width: 30vw;
	    float: left;
	}
	.marginBottom {
		margin-bottom: 450px;
	}
	.marginBottomTwo {
		margin-bottom: 450px;
	}
}

}

@media only screen and (max-width: 900px) {
.SVGImage {
	margin: 120px 0 0;
	z-index: 2;
	position: relative;
	height: auto;
	width: 100vw;
}
.introp {
    position: relative;
    text-align: left;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 25px 0;
    color: #1b1464;
    font-family: 'Cairo', sans-serif;
}

.introh {
    position: relative;
    font-kerning: normal;
    font-size: 2rem;
    text-align: left;
    line-height: 1.4;
    color: #1b1464;
    margin: 0 25px;
    height: 110px;
    font-family: 'Cairo', sans-serif;
}

.introWrapper {
	margin: 100px 0;
	position: fixed;
}
	.WWD {
	margin: 100px auto 50px;
    height: auto;
	.wwdp {
		position: relative;
	    font-kerning: normal;
	    font-size: 1rem;
	    line-height: 1.7;
	    color: #ffffff;
	    padding: 0 25px 0;
	    font-family: 'Cairo', sans-serif;
	}
	.wwdh {
		font-size: 2rem;
		line-height: 1.4;
	    position: relative;
	    color: #ffffff;
	    padding: 50px 25px 0;
	}
	.wwdul {
		font-size: 1rem;
	    position: relative;
	    line-height: 1.8;
	    margin: 0;
	    color: #ffffff;
	    padding: 50px 25px;
	    font-family: 'Cairo', sans-serif;
	}
	img {
		margin: 0 25vw;
	    height: auto;
	    width: 50vw;
	    float: none;
	}
	.marginBottom {
		margin-bottom: -50px;
	}
	.marginBottomTwo {
		margin-bottom: -50px;
	}
}

.returnToTop {
	width: 100px;
}

	.background {
		position: relative;
		width: 100vw;
		margin: -50 0 0;
		padding: 0 0 50px 0;
		height: auto;
		background: $darkBlue;
		z-index: 1;
		.aboutp {
			font-size: 1rem;
			padding: 0 25px 150px;
		}
		.abouth {
			font-size: 2rem;
			padding: 50px 25px 0;
			line-height: 1.4;
		}
		.aboutScroll {
			height: 100px;
		}
		}

.midSVG {
    width: 75vw;
    margin: -50px 0;
}

.contactWrapper {
	overflow-x: hidden;
		.contactp {
				font-size: 1.5rem;
				padding: 0 25px 50px;
			}

		.contacth {
		    font-size: 2rem;
		    padding: 50px 25px 0;
		}
}

.pageTitle {
	width: 450px;
    height: auto;
    position: fixed;
    margin: 25px 25px 0;
    z-index: -1;
}

	h1 {
 	    font-size: 2rem;
	    margin: 0;
	    color: #1b1464;
		font-family: 'Cairo', sans-serif;
	}

	h2 {
	    font-size: 1rem;
	    margin: -20px 50px;
	    color: #1b1464;
		font-family: 'Cairo', sans-serif;
	}

	    .menuBar {
		width: 100vw;
    	margin: 0;
	}

	.sandwichIcon {
		top: 35px;
		width: 50px;
		height: 37px;
	}

	.barOne {
		height: 6px;
	}

	.barTwo {
		height: 6px;
		margin: 6px 0;
	}

	.barThree {
		height: 6px;
	}

	.links {
	    list-style-type: none;
	    margin: -207px auto 0;
	    text-align: center;
	    padding: 0;
	    right: auto;
	    float: none;
	    position: fixed;
    	width: 100vw;
	    top: 50%;
		z-index: 3;
		display: none;
	}

	.linkOne, .linkTwo, .linkThree {
		padding: 50px;
		margin: 0;
		font-size: 2rem;
	    float: none;
		font-family: 'Cairo', sans-serif;
	}

	.returnToTop {
	width: 50px;
	right: 20px;
	bottom: 20px;
	display: none;
}
	.linksRemove {
		display: block;
		z-index: 3;
	}

}

@media only screen and (max-width: 600px) {

.midSVG {
    width: 125vw;
    margin: 0;
}

.WWD {
	img {
		margin: 0 auto;
	    height: auto;
	    width: 100vw;
	    float: none;
	}
	.marginBottom {
		margin-bottom: -50px;
	}
	.marginBottomTwo {
		margin-bottom: -50px;
	}
}
	
}
